body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow to prevent scrolling */
    background: #3399ff; 
}

.container {
    width: 70%;
    height: 100vh;
}

table {
    font-family: 'Cairo', sans-serif;
    position: relative; /* Ensure proper positioning */
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px; /* Updated border-radius */
    color: black;
    z-index: 2;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

th {
    font-family: 'Cairo', sans-serif;
    background-color: rgb(62, 88, 234); /* Green background color */
    color: rgb(255, 255, 255); /* White text color */
    font-weight: bold; /* Bold font */
}

h1, h2 {
    text-align: center;
    position: relative;
    color: rgb(255, 255, 255);
    z-index: 4;
}

h2 {
    margin-top: 20px;
}

  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    z-index: 1;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
