html, body {
    font-family: 'Cairo', sans-serif;
    background: #3399ff;
    margin: 0;
    color: #333;
    height: 100vh; 
    overflow: hidden;
}

.title {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255); /* Adjust opacity for a subtle frosted effect */
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); /* Added shadow */
    transition: box-shadow 0.3s; /* Added transition for shadow */
    position: relative; /* Ensure proper positioning */
    z-index: 2; /* Set z-index higher than the circle */
}


input[type="text"],
input[type="password"]{
    height: 48px; /* Set the height to match other input elements */
    padding: 5px 10px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    appearance: none; /* Remove default arrow icon */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    font-family: "Cairo", sans-serif;
    transition: border-color 0.3s; /* Added transition for border color */
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #3399ff;
}



.error-messages {
    margin-top: 5px;
    text-align: center; /* Center the error messages */
}

.error-message {
    color: #ff0000; /* Red color for error messages */
    font-size: 14px;
    margin: 5px;
}
.password-container {
    position: relative;
}

#password {
    padding-right: 40px; /* Adjust the padding to accommodate the icon */
}

#togglePassword {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.flash-messages {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    border-radius: 5px; /* Rounded corners */
    opacity: 1; /* Initially visible */
    transition: opacity 1s ease-in-out; /* Fade out transition */
}

.flash-messages li {
    margin-bottom: 5px;
}
.signature {
    text-decoration: none;
    color: black;
    padding: 10px;
    position: fixed; /* Position fixed to stick to the viewport */
    bottom: 0; /* Align to the bottom */
    z-index: 3;
}
input[type="submit"] {
    font-family: "Cairo", sans-serif;
    width: 100%;
    display: inline-block;
    padding: 12px 20px; /* Adjusted padding for better visual balance */
    font-size: 18px; /* Slightly reduced font size */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3399ff; /* Teal green color */
    border: none;
    border-radius: 8px; /* Reduced border radius */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Added transition for smoother hover and active effects */
}

input[type="submit"]:hover {
    background-color: #2992fccf; /* Darker shade of teal green on hover */
}

input[type="submit"]:active {
    background-color: #0977e6ef; /* Even darker shade of teal green on active */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* Added subtle box shadow on active */
    transform: translateY(2px); /* Slight downward movement on active */
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-group input[type="radio"] {
    display: none; /* Hide the radio buttons */
}

.radio-group label {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ddd; /* Background color for radio button */
    border-radius: 5px;
    cursor: pointer;
}

.radio-group input[type="radio"]:checked + label {
    background-color: #3399ff; /* Background color when radio button is checked */
    color: white;
}

  
.circle {
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    z-index: 1; /* Set z-index lower than the form */
}
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }