<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='grades.css') }}">
    <title>Grades</title>
</head>
<body>
    <div class="container">
        <h1>ازيك يا {{ name }}👋</h1>
        <h2>النسبة المئوية الكلية: {{ percentage }}%</h2>
        <table>
            <thead>
                <tr>
                    <th>المادة</th>
                    <th>النسبة المئوية</th>
                    <th>الدرجة النهائية</th>
                    <th>درجتك</th>
                    <th>التقدير</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in grades %}
                <tr>
                    <td>{{ grade.course_name }}</td>
                    <td>{{ grade.percentage }}%</td>
                    <td>{{ grade.max_score }}</td>
                    <td>{{ grade.total_score }}</td>
                    <td>{{ grade.grade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
