<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login</title>

</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p class="title">مساءك لذيذ❤️</p>
    <form action="/grades" method="post">
        <h3>قم بالتسجيل ببيانات موقع ابن الهيثم</h3>
        <label for="username">الرقم القومي</label>
        <input type="text" id="username" name="username" required>
        <label for="password">كلمة المرور</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required>
            <i class="fas fa-eye" id="togglePassword"></i>
        </div>
        <label>السنة الدراسية</label>
        <div class="radio-group">
            <input type="radio" id="first" name="year" value="First" checked>
            <label for="first">الاولى</label>
            <input type="radio" id="second" name="year" value="Second">
            <label for="second">الثانية</label>
            <input type="radio" id="third" name="year" value="Third">
            <label for="third">الثالثة</label>
            <input type="radio" id="fourth" name="year" value="Fourth">
            <label for="fourth">الرابعة</label>
        </div>
        <br>
        <input type="submit" value="عرض الدرجات">
    </form>
    

    <a class="signature" href="https://t.me/RefOoSami" target="_blank">❤️Code By Raafat Sami | Copyright@2024</a>

    <script>
        var passwordInput = document.getElementById('password');
        var togglePasswordButton = document.getElementById('togglePassword');
    
        togglePasswordButton.addEventListener('click', function() {
            var type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            togglePasswordButton.classList.toggle('fa-eye-slash'); // Toggle class for the eye icon
        });
        document.addEventListener('DOMContentLoaded', function() {
            var flashMessages = document.querySelectorAll('.flash-messages');
            flashMessages.forEach(function(element) {
                setTimeout(function() {
                    element.style.opacity = 0;
                }, 5000); // Fade out after 5 seconds
            });
        });
    </script>
    
</body>
</html>
